<ion-header>
  <ion-toolbar color="primary">
    <ion-title>clientele</ion-title>
   
     <ion-buttons slot="start">
		<ion-menu-button autoHide="false"></ion-menu-button>
	 </ion-buttons>
     
  </ion-toolbar>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</ion-header>

<ion-content>
<section  class="client1" style="background-image: url(assets/images/hand_shake.jpg);width: 100%;background-size: cover;height: 50%;">
	<div class="container">
	
	</div>
</section>

<section class="service_cli">
	<div class="container-fluid">
		<h2>Our Clientele</h2>
		<ion-spinner *ngIf="showSpinner" class="spinner" color="primary"></ion-spinner>
		 <div class="box1">
		<ul *ngIf="result?.length > 0">
			<li *ngFor="let item of result" (click)="goCms(item.id)"> <img src="assets/images/logo1.png"><p>{{item.name}}</p></li>
		</ul>
	</div>

	<!-- <div class="box1">
		<ul>
			<li><a href="#"> <img src="assets/images/logo1.png"><p>MEERA FORMS <BR> PVT. LTD</p> </a></li>
			<li><a href="#"> <img src="assets/images/logo2.png"><p>MEERA FORMS <BR> PVT. LTD</p> </a></li>
			<li><a href="#"> <img src="assets/images/logo3.png"><p>MEERA FORMS <BR> PVT. LTD</p> </a></li>
			
		</ul>
	</div>

	<div class="box1">
		<ul>
			<li><a href="#"> <img src="assets/images/logo1.png"><p>MEERA FORMS <BR> PVT. LTD</p> </a></li>
			<li><a href="#"> <img src="assets/images/logo2.png"><p>MEERA FORMS <BR> PVT. LTD</p> </a></li>
			<li><a href="#"> <img src="assets/images/logo3.png"><p>MEERA FORMS <BR> PVT. LTD</p> </a></li>
			
		</ul>
	</div> -->

	</div>
</section>
</ion-content>
