<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Address</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="google_map">
    <div id="map"></div>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7FwBWIRMcFwFuTWSVvYTJI0dv_NunLKc&callback=initMap">
  </script>

  </div>

  <ion-spinner *ngIf="showSpinner" class="spinner" color="primary"></ion-spinner>

  <ion-grid class="grid_layout">
    <ion-row>
      <ion-col class="ion-text-end">Name:</ion-col>
      <ion-col>{{result.name}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-end">Address:</ion-col>
      <ion-col id="addressDescription"></ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col class="ion-text-end">Contact:</ion-col>
      <ion-col>9875422437</ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>

