<ion-header>
  <ion-toolbar color="primary">
    <ion-title>About</ion-title>
    <ion-button class="btn_next" color="primary" slot="end" ion-button (click)="go()">
       next
     </ion-button>

     <ion-buttons>
       <ion-back-button defaultHref="/home1"></ion-back-button>
     </ion-buttons>
  </ion-toolbar>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</ion-header>

<ion-content>
<section  class="about1" style="background-image: url(assets/images/about.jpg);width: 100%;background-size: cover; height:25vh;">
   <div class="container">
   </div>
</section>


<section class="our_about">
	<div class="container">
		<h2>about</h2>

		<div class="row">
			<div class="col-md-8 col-12">
				<div class="about_text">
				 <h3>Profile</h3>
				 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>	
				</div>
			</div>
			<div class="col-md-4 col-12">
				<div class="about_img">
					<img src="assets/images/guard.png">
				</div>
			</div>
		</div>
	</div>
</section>


<section class="about_text1">
<div class="container">
	 <div class="row">
            

            <div class="col-md-8 col-12 ">
				<div class="about_text" id="bellow_side">
				 <h3>Compitition</h3>
				 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>	
				</div>
	        </div>

	        <div class="col-md-4 col-12 ">
				<div class="about_img" id="upper_side">
					<img src="assets/images/compititn.jpg">
				</div>
			</div>
     </div>			
</div>	
</section>


<section class="form01">
<div class="container">
	<h6>Management body:</h6>
	<table class="table table-bordered">

    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>
</section>

	
</ion-content>
