<ion-header>
  <ion-toolbar color="primary">
    <ion-title>service_inner</ion-title>
    
       <ion-buttons>
       <ion-back-button defaultHref="/service"></ion-back-button>
     	</ion-buttons>
     
  </ion-toolbar>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</ion-header>

<ion-content>
<section  class="client1" style="background-image: url(assets/images/hand_shake.jpg);width: 100%;background-size: cover;height: 50%;">
</section>

<section class="our_service">
	<div class="container">
		<h2>Our Service</h2>

		<div class="service-box">
			<ion-spinner class="progressbar" *ngIf="showSpinner" color="primary"></ion-spinner> 
			<!-- <h3>Computer AMC Service includes</h3> -->
			<h3>{{jsonObject?.name}}</h3>
			

			<ul class="manage">
				<li><img src="assets/images/arrow.png"><p id="desc"></p></li>
				<!-- <li><img src="assets/images/arrow.png">Printer Maintainance</li>
				<li><img src="assets/images/arrow.png">Monitor Maintainance</li>
				<li><img src="assets/images/arrow.png">Add/Remove Hardware Computer</li>
				<li><img src="assets/images/arrow.png">Printer Maintainance</li>
				<li><img src="assets/images/arrow.png">Monitor Maintainance</li>
				<li><img src="assets/images/arrow.png">Service and Router Maintainance</li> -->
				
			</ul>

			<!-- <h3>AMC Service Teams & Conditions</h3>

			<ul class="manage">
				<li><div class="bb"><img src="assets/images/arrow.png"></div><div class="aa">Add/Remove Hardware Computer</div></li>
				<li><div class="bb"><img src="assets/images/arrow.png"></div><div class="aa">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div></li>
				<li><div class="bb"><img src="assets/images/arrow.png"></div><div class="aa">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div></li>
				<li><div class="bb"><img src="assets/images/arrow.png"></div><div class="aa">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div></li>
				<li><div class="bb"><img src="assets/images/arrow.png"></div><div class="aa">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div></li>
				
			</ul>
               
               <h6>AMC Payment Teams</h6>
               <ul class="manage side_chn">
				<li>Add/Remove Hardware Computer</li>
				<li>Printer Maintaince</li>
				<li>Monitor Maintaince</li>
				<li>Add/Remove Hardware Computer</li>
				
			</ul>

			<h3>Statutory Compilances</h3>

			<ul class="manage side_chn1">
				<li>Trade lince No:RSM 12344</li>
				<li>PAN:AABCU5355.</li>
				<li>Trade lince No:RSM 12344</li>
				<li>PAN:AABCU5355.</li>
				<li>Trade lince No:RSM 12344</li>
				<li>PAN:AABCU5355.</li>
				<li>PAN:AABCU5355.</li>
				<li>PAN:AABCU5355.</li>
				<li>PAN:AABCU5355.</li>
				
			</ul> -->

		</div>

	</div>
	
</section>
</ion-content>
