<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Service</ion-title>

    <ion-buttons>
       <ion-back-button defaultHref="/about"></ion-back-button>
     </ion-buttons>
  </ion-toolbar>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</ion-header>

<ion-content>
<section  class="servive1" >
   <div class="container">
     <div class="row">
    
        <div class="listing" style="background-image: url(assets/images/ser.png);width: 100%;background-size: cover; height:100%;">
        
            <ul *ngIf="result?.length > 0 ">
              <li *ngFor="let item of result" [routerLink]="['/', 'service', item.id]"> <a href="">
                <img src="assets/images/kipper1.png" ><br><p class="title">{{item?.name}}</p><h4></h4></a>
              </li>
            </ul>
            <div *ngIf="result?.length == 0 && !showSpinner" class="error_msg">Data not found</div>
        </div>
        <ion-spinner class="progressbar" *ngIf="showSpinner" color="primary"></ion-spinner> 

	    </div>   	
   </div>
</section>

</ion-content>
