<ion-header>

   <ion-toolbar color="primary">
         <ion-title>Login</ion-title>
         <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
         </ion-buttons>
   </ion-toolbar>
 
</ion-header>

<section  class="log_banner">
  <div class="container">
     <div class="logo-center2">
        <img src="assets/images/logo.png">
     </div>
     <div class="logo-center1">

        <form [formGroup]="myform"  (ngSubmit)="logForm()">

         <ion-spinner class="spinner" *ngIf="showLoader" color="primary"></ion-spinner>
         
           <div class="input-container">
               <input class="input-feild" type="text" placeholder="Name" formControlName="name" >
           </div>
           
           <ng-container *ngFor="let validation of validation_messages.name">
              <div class="error-message" *ngIf="myform.get('name').hasError(validation.type) && (myform.get('name').dirty || myform.get('name').touched) ">
                 {{ validation.message }}
              </div>
           </ng-container>
           <div class="input-container">
               <input class="input-feild" type="text"  placeholder="Email" formControlName="email" >
           </div>
           
           <ng-container *ngFor="let validation of validation_messages.email">
              <div class="error-message" *ngIf="myform.get('email').hasError(validation.type) && (myform.get('email').dirty || myform.get('email').touched)">
                 {{ validation.message }}
              </div>
           </ng-container>
           <div class="input-container">
               <input class="input-feild" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="10" type="number" placeholder="Phone" formControlName="phone" >
           </div>
           
           <ng-container *ngFor="let validation of validation_messages.phone">
              <div class="error-message" *ngIf="myform.get('phone').hasError(validation.type) && (myform.get('phone').dirty || myform.get('phone').touched)">
                 {{ validation.message }}
              </div>
           </ng-container>
           <input class="input-feild" type="submit" block [disabled]= "!myform.valid" value="GO AHEAD" class="go_btn">
           
        </form>

        
        
        <!-- <pre> {{myform.value | json }}</pre> -->

     </div>
  </div>
</section>
<ion-content>
</ion-content>