<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Contact</ion-title>
    
     <ion-buttons>
       <ion-back-button defaultHref="/notice"></ion-back-button>
     </ion-buttons>
  </ion-toolbar>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</ion-header>

<ion-content>
<section  class="client1" style="background-image: url(assets/images/hand_shake.jpg);width: 100%;background-size: cover;height: 40%;">
</section>
<section class="contact_sec">
<div class="container">
		<h2>Contact Us</h2>

<div class="form001">

	<form class="container" [formGroup]="myform" (ngSubmit)="formSubmit()">

    <ion-spinner class="spinner" *ngIf="showLoader" color="primary"></ion-spinner>

    <label for="fname">Your Name(required)</label>
    <input type="text" id="fname" formControlName="name" placeholder="">
    <ng-container *ngFor='let validation of validation_messages.name'>
      <div *ngIf="myform.get('name').hasError(validation.type) && (myform.get('name').dirty || myform.get('name').touched)">
        {{validation.message}}
      </div>
    </ng-container>

    <label for="lname">Your Email(required)</label>
    <input type="text" id="lname" formControlName="email" placeholder="">
    <ng-container *ngFor='let validation of validation_messages.email'>
      <div *ngIf="myform.get('email').hasError(validation.type) && (myform.get('email').dirty || myform.get('email').touched)">
        {{validation.message}}
      </div>
    </ng-container>

    <label for="lname">Your Mobile(required)</label>
    <input type="number" id="num" formControlName="phone" placeholder="">
    <ng-container *ngFor='let validation of validation_messages.phone'>
      <div *ngIf="myform.get('phone').hasError(validation.type) && (myform.get('phone').dirty || myform.get('phone').touched)">
        {{validation.message}}
      </div>
    </ng-container>

    <label for="lname">Your Address(required)</label>
    <input type="text" id="lname" placeholder="">

     <label for="lname">Subject</label>
    <textarea id="subject" formControlName="subject" placeholder="" style="height:100px"></textarea>
    <ng-container *ngFor='let validation of validation_messages.subject'>
      <div *ngIf="myform.get('subject').hasError(validation.type) && (myform.get('subject').dirty || myform.get('subject').touched)">
        {{validation.message}}
      </div>
    </ng-container>

    <label for="lname">Your Massage</label>
    <textarea id="subject" formControlName="message" placeholder="Message" style="height:150px"></textarea>
    <ng-container *ngFor='let validation of validation_messages.message'>
      <div *ngIf="myform.get('message').hasError(validation.type) && (myform.get('message').dirty || myform.get('message').touched)">
        {{validation.message}}
      </div>
    </ng-container>

    <input type="submit" block [disabled]="!myform.valid"  value="Submit">
  </form>
</div>
</div>
</section>
</ion-content>

