<ion-header>
  <ion-toolbar color="primary">
     <ion-title>Sales Login</ion-title>
     <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
     </ion-buttons>
  </ion-toolbar>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- ----- -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</ion-header>
<ion-content>
  <section class="log_banner">
     <div class="container">
        <div class="logo-center2">
           <img src="assets/images/logo.png">
        </div>
        <div class="logo-center1">
           <form [formGroup]="myform" style="max-width:500px;margin:auto">
            <ion-spinner class="spinner" *ngIf="showLoader" color="primary"></ion-spinner>
              <div class="input-container">
                 <i class="fa fa-user icon"></i>
                 <input class="input-field" [(ngModel)] = "inputUsername" type="text" placeholder="Email" formControlName="username">                 
              </div>
              <ng-container *ngFor="let validation of validation_messages.username">
                 <div class="error-message" *ngIf="myform.get('username').hasError(validation.type) && (myform.get('username').dirty || myform.get('username').touched) ">
                    {{ validation.message }}
                 </div>
              </ng-container>
              <!-- <div class="input-container">
                 <i class="fa fa-envelope icon"></i>
                 <input class="input-field" [(ngModel)] = "inputEmail" type="text" placeholder="Email" formControlName="email">                 
              </div>
              <ng-container *ngFor="let validation of validation_messages.email">
                 <div class="error-message" *ngIf="myform.get('email').hasError(validation.type) && (myform.get('email').dirty || myform.get('email').touched)">
                    {{ validation.message }}
                 </div>
              </ng-container> -->
              <div class="input-container">
                 <i class="fa fa-key icon"></i>
                 <input class="input-field" [(ngModel)] = "inputPassword" type="password" placeholder="Password" formControlName="password">                 
              </div>
              <ng-container *ngFor="let validation of validation_messages.password">
                 <div class="error-message" *ngIf="myform.get('password').hasError(validation.type) && (myform.get('password').dirty || myform.get('password').touched) ">
                    {{ validation.message }}
                 </div>
              </ng-container>
              <input type="button" block [disabled] = "!myform.valid" value="SALES PERSON LOGIN" (click)="sendPostRequest()" class="go_btn">
           </form>
        </div>
     </div>
  </section>
</ion-content>