<ion-header>
  <ion-toolbar class="toolbar" color="primary">
    <ion-title>
      Ionic Blank
    </ion-title>

    <ion-button class="btn_next" color="primary" slot="end" ion-button (click)="go()">
       next</ion-button>


  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
   <!--  The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p> -->
    <section class="splash_banner">
    	 <div class="container">
    		<div class="logo-center">
    			<img src="assets/images/logo.png">
    			<h2>ISO 9001:2015</h2>
    		</div>
    	</div>
    </section>
  </div>
  
</ion-content>
